@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {


  --background-color: rgb(41, 42, 46);
  --text-color: rgb(231, 248, 245);
  --primary-color: rgb(37, 39, 45);
  --secondary-color: rgb(28, 29, 34);
  --accent-color: rgb(77, 106, 255);
  --highlight-color: rgb(49, 49, 53);
  --high-highlight-color: rgb(63, 63, 68);
  --text-transparent: rgba(231, 248, 245, 0.5);
  --selected-color: rgb(255,255,255);


  --font-family: 'Exo 2', sans-serif;
  --default-transition: all 0.2s ease-in-out;
}

body.light-mode {
  --background-color: rgb(232, 233, 236);
  --text-color: rgb(7, 24, 21);
  --primary-color: rgb(213, 215, 221);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(0, 30, 179);
  --highlight-color: rgb(226, 221, 221);
  --high-highlight-color: rgb(202, 202, 214);
  --text-transparent: rgba(54, 58, 57, 0.5);
  --selected-color: rgb(0,0,0);
}


body {
  margin: 0;
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: var(--default-transition);
  background-color: var(--background-color);
}